@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Lato");*{font-family:Lato, sans-serif;}
.img-responsive{display:inline-block;min-width:100%;height:auto;object-fit:cover;}
.gallery{overflow:hidden;width:100%;display:block;}
.gallery .photox{min-width:100%;object-fit:cover;display:block;}
.gallery .photoy{min-width:100%;object-fit:cover;display:block;}
a{outline:0;text-decoration:none;}
a:hover, a:active, a:focus{outline:0;text-decoration:none;}
input::-moz-focus-inner{border:0;}
object,
embed{outline:0;}
.bicycleNav{text-transform:uppercase;font-family:'Lato', sans-serif;}
.bicycleNav a{color:#4d4959;font-size:13px;font-weight:700;text-align:left;}
.bicycleNav a:hover{text-decoration:none;background-color:transparent !important;border-bottom:1px solid #4d4959;}
.bicycleNav .logo{border-bottom:none;}
.bicycleNav .logo:hover{border-bottom:none;}
.bicycleNav #navbar-primary .navbar-nav{width:100%;text-align:center;}
.bicycleNav #navbar-primary .navbar-nav > li{display:inline-block;float:none;}
.bicycleNav #navbar-primary .navbar-nav > li > a{padding-left:30px;padding-right:30px;}
.navbar{position:relative;min-height:80px;margin-bottom:0px;border:none;background-color:#282f35;border-radius:0px;}
.navbar-brand{padding:0px;}
.navbar-brand img{height:96%;min-height:75px;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{color:#64c29e;background-color:#282f35;font-family:'Lato', sans-serif;font-size:14px;font-weight:400;text-transform:uppercase;}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a{color:#eaeaea;background-color:transparent;font-family:'Lato', sans-serif;font-size:14px;line-height:45.506px;font-weight:400;text-transform:uppercase;border-top:4px solid transparent;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color:#64c29e;background-color:#282f35;font-family:'Lato', sans-serif;font-size:14px;line-height:45.506px;font-weight:400;text-transform:uppercase;border-top:4px solid #64c29e;}
.navbar-nav > li > a{min-width:80px;text-align:center;}
.navbar-toggle{margin-top:25px;}
.navbar-default .navbar-toggle{border-color:#ffffff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active{border-color:#64c29e;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar{background-color:#64c29e;}
.navbar-default .navbar-toggle .icon-bar{background-color:#ffffff;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{background-color:#282f35;}
#navbar-ex-collapse.navbar-nav{margin:0px -15px;margin-top:35px;}
.navbar-collapse{border-top:0px;box-shadow:inset 0 0px 0;}
.box_one{text-align:center;padding-top:107px;padding-bottom:100px;background-color:#f7f7f7;height:469px;font-family:'Lato', sans-serif;}
.box_one h2{color:#353638;font-size:18px;font-weight:700;text-align:center;}
.box_one p{color:#848789;font-size:18px;font-weight:400;line-height:34px;text-align:center;}
.no_margin{padding-left:0px;padding-right:0px;}
.three_photo .rasterblock{overflow:hidden;}
.three_photo .rasterinnerblock{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2;}
.three_photo .rasterimageblock{width:100%;height:100%;overflow:hidden;background-position:center center;background-repeat:no-repeat;background-size:cover;}
.three_photo .three_photo_text{padding-top:9%;text-align:center;}
.three_photo .three_photo_text h2{color:#353638;font-size:18px;font-weight:700;text-align:center;}
.three_photo .three_photo_text p{color:#848789;font-size:16px;font-weight:400;line-height:30px;text-align:justify;}
.photo_box2{overflow:hidden;}
.photo_box2 .rasterblock{overflow:hidden;}
.photo_box2 .rasterinnerblock{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2;}
.photo_box2 .rasterimageblock{width:100%;height:100%;overflow:hidden;background-position:center center;background-repeat:no-repeat;background-size:cover;}
.photo_box2 .photo_box2_text{padding-top:9%;text-align:center;}
.photo_box2 .photo_box2_text h2{color:#353638;font-size:18px;font-weight:700;text-align:center;}
.photo_box2 .photo_box2_text p{color:#848789;font-size:16px;font-weight:400;line-height:30px;text-align:justify;}
.photo_box3{overflow:hidden;}
.photo_box3 .rasterblock{overflow:hidden;}
.photo_box3 .rasterinnerblock{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2;}
.photo_box3 .rasterimageblock{width:100%;height:100%;overflow:hidden;background-position:center center;background-repeat:no-repeat;background-size:cover;}
.photo_box3 .photo_box3_text{padding-top:9%;text-align:center;}
.photo_box3 .photo_box3_text h2{color:#353638;font-size:18px;font-weight:700;text-align:center;}
.photo_box3 .photo_box3_text p{color:#848789;font-size:16px;font-weight:400;line-height:30px;text-align:justify;}
.inside_rasterrimageblock{margin:0;position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%, -50%);}
.opinions{background-color:#f7f7f7;text-align:center;padding-top:100px;padding-bottom:50px;font-family:'Lato', sans-serif;}
.opinions h2{color:#353638;font-size:18px;font-weight:700;text-align:center;}
.opinions p{color:#848789;font-size:16px;font-weight:400;line-height:30px;}
.opinions .slideshow-container{max-width:100%;position:relative;margin:auto;}
.opinions .dot{height:13px;width:13px;margin:0 2px;background-color:rgba(40, 47, 53, 0);border-radius:50%;border-style:solid;border-width:1px;border-color:#c8c8c8;display:inline-block;transition:background-color 0.5s ease;}
.opinions .active{background-color:#a9afb3;}
.opinions .fade{-webkit-animation:fadein 7.5s;-moz-animation:fadein 7.5s;-ms-animation:fadein 7.5s;-o-animation:fadein 7.5s;animation:fadein 7.5s;}
@keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-moz-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-webkit-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-ms-keyframes fadein{.opinions from{opacity:0;}
.opinions to{opacity:1;}
}
@-o-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@media only screen and (max-width:300px){.opinions .text{font-size:11px;}
}
.dark_box{background-color:#282f35;color:#fff;}
.newsletter{text-align:center;}
@media (max-width:479px){.newsletter{padding-top:40px;padding-bottom:40px;}
}
@media (min-width:480px) and (max-width:767px){.newsletter{padding-top:40px;padding-bottom:40px;}
}
@media (min-width:768px) and (max-width:991px){.newsletter{width:100%;padding:100px;}
}
@media (min-width:992px) and (max-width:1199px){.newsletter{padding:100px;}
}
@media (min-width:1200px){.newsletter{padding:100px;}
}
.newsletter h2{margin-top:25px;font-family:Lato;color:#848789;font-size:24px;font-style:italic;}
.newsletter .register-newsletter input[type="text"]{text-align:center;height:69px;font-family:Lato;color:rgba(146, 146, 146, 0.501961);font-size:20px;font-style:italic;margin-top:25px;}
@media (min-width:480px) and (max-width:767px){.newsletter .register-newsletter input[type="text"]{width:100%;padding:5px;}
}
@media (max-width:479px){.newsletter .register-newsletter input[type="text"]{width:100%;}
}
@media (min-width:768px) and (max-width:991px){.newsletter .register-newsletter input[type="text"]{width:100%;}
}
@media (min-width:992px) and (max-width:1199px){.newsletter .register-newsletter input[type="text"]{max-width:400px;}
}
@media (min-width:1200px){.newsletter .register-newsletter input[type="text"]{max-width:400px;padding:20 30px;}
}
.newsletter .register-newsletter input[type="submit"]{background-color:#64c29e;height:69px;border-radius:0px;font-family:'Lato', sans-serif;color:#ffffff;font-size:20px;font-weight:100;line-height:24px;}
@media (max-width:479px){.newsletter .register-newsletter input[type="submit"]{width:100%;}
}
@media (min-width:480px) and (max-width:767px){.newsletter .register-newsletter input[type="submit"]{width:100%;}
}
@media (min-width:768px) and (max-width:991px){.newsletter .register-newsletter input[type="submit"]{width:100%;}
}
@media (min-width:992px) and (max-width:1199px){.newsletter .register-newsletter input[type="submit"]{width:126px;margin-top:-8px;}
}
@media (min-width:1200px){.newsletter .register-newsletter input[type="submit"]{width:126px;margin-top:-8px;}
}
.footer{background-color:#f7f7f7;padding-top:100px;padding-bottom:60px;text-align:center;font-family:'Lato', sans-serif;}
.footer p{color:#848789;font-size:14px;font-weight:700;line-height:8px;text-align:left;}
.footer p:first-of-type{font-size:16px;}
.footer p small{color:#848789;font-size:13.9px;font-style:italic;line-height:8px;text-align:left;transform:scaleX(1.007);}
@media (max-width:479px){.footer p{text-align:center;}
.footer .address,
.footer .icons{padding-bottom:30px;}
}
@media (min-width:480px) and (max-width:767px){.footer p{text-align:center;}
.footer .address,
.footer .icons{padding-bottom:30px;}
}
.scrollToTop{width:40px;height:40px;padding:10px;text-align:center;text-decoration:none;position:fixed;display:none;background:url("../images/up1.png") no-repeat;z-index:9999;}
@media (max-width:479px){.scrollToTop{top:95%;right:40%;}
}
@media (min-width:480px) and (max-width:767px){.scrollToTop{top:88%;right:40px;}
.scrollToTop p{text-align:center;}
.scrollToTop .address,
.scrollToTop .icons{padding-bottom:30px;}
}
@media (min-width:768px) and (max-width:991px){.scrollToTop{top:94%;right:40px;}
}
@media (min-width:992px) and (max-width:1199px){.scrollToTop{top:88%;right:40px;}
}
@media (min-width:1200px){.scrollToTop{top:88%;right:40px;}
}
.scrollToTop:hover{text-decoration:none;}